.ButtonStart {
    width: 100%;
    margin-left: 1px;
    border: 1px solid #262323;
    margin: -1px;
    font-size: 1.5em;
    padding: 5px;
    margin-top: 50px;
    bottom: 50px;
    transition: all 0.5s;
}

.ButtonStart:hover {
    cursor: pointer;
    background-color: #262323;
    color: #59f552;
}

.ButtonStart:focus {
    outline:0;
  }