@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

html {
    padding: 0px;
    margin: 0px;
    height: 200%;
    width: 100%;
    font-family: 'Sen', sans-serif !important;
    color: #262323 !important;
    background-color: #f3e9e9;
}
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #f3e9e9;
}
#root {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.Home {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #262323;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #59f552;
  }

.MyButtonDrop {
  margin-left: 1px;
  margin-bottom: 5px;
  border: 1px solid #262323;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.5s;
  text-decoration: none;
}
.MyButtonDrop:focus {
  outline:0;
}
.MyButtonDrop:hover {
    cursor: pointer;
    background-color: #262323;
    color: #59f552;
}