@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.OneResultStreamer {
    width: 100%;
    height: auto;
    border-left: 5px solid #262323;
    margin-left: 1%;
    margin-bottom: 2%;
}
.VideoResultPart {
    display: inline-block;
    vertical-align:top;
    padding-left: 2%;
}
.OneResultStreamer .logo {
    width: 10%;
    margin-top: 20px;
}
.OneResultStreamer .logo img {
    width: 100%;
}
.OneResultStreamer .details {
    width: 20%;
}
.OneResultStreamer .videos {
    width: 70%;
}
.OneResultStreamer .games {
    width: 100%;
    padding-right: 2%;
    margin-top: 1%;
}

.OneResultStreamer .games .card-body {
    padding: 0%;
}
.accordion {
    width: 99%;
    height: auto;
}

.card-body {
    padding: 2%;
}

.card {
    background-color: #f3e9e9;
}


.Online {
  border:3px solid black;
  min-height: 3em;
  resize: both;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%2359f552' /%3E%3Cstop offset='25%25' stop-color='%2359f552' /%3E%3Cstop offset='50%25' stop-color='%2359f552' /%3E%3Cstop offset='100%25' stop-color='%2359f552' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}