.SideMenu{
    width: 18%;
    height: 100%;
    border-left: 3px solid #262323;
    display: inline-block;
    vertical-align:top;
    padding-left: 1%;
}

hr {
    height: 3px;
    border-top: 1px solid #262323;
    border-left: 0px;
    margin-top: 25px;
}

.SideMenu h3 {
    text-align: right;
}