.StreamerSocial {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.StreamerSocial a svg{
    color: #262323;
    transition: all 1s;
}

.StreamerSocial a svg:hover{
    color: #59f552;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.StreamerSocial ul {
    list-style-type: none;
    padding: 0px;
}

.StreamerSocial ul li {
    display: inline-block;
    margin-right: 5px;
}

