.TopVideo {
    width: 33%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.LastVideo {
    margin-right: 2.5%;
}

.VideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
}

.TopVideoIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.TopVideo h3 {
    font-weight: bold;
}

.TopVideo p {
    font-style: italic;
}